@CHARSET "UTF-8";

	#content{
		width: 1024px;
		border: 0px solid red;
		margin: 0px auto;
		overflow: hidden;
	}
	
	#content > #main_nav,
	#content > #main,
	#content > #main_banner{
		border: 0px solid blue;
		float: left;
		margin-left: 5px;
	}
	
	#content > #main_nav{
		width: 150px;
		margin-top: 5px;
	}
	
	#content > #main_nav li{
		height: 35px;
		line-height: 35PX; 
	}
	
	#content > #main{
		width: 700px;
	}
	
	#content > #main > div{
		width: 695px;
		border: 1px solid #CCCCCC;
		margin-top: 5px;
	}
	
	#content > #main > div:NTH-CHILD(1){
		height: 350px;
	}
	
	#content > #main > div:NTH-CHILD(2){
		height: 200px;
	}
	
	#content > #main > div:NTH-CHILD(3){
		height: 70px;
		background-color: #500095;
	}
	
	#content > #main > div:NTH-CHILD(3) li{
		float: left;
		font-size: 1.1em;
		margin-right: 25px;
		color: #FFFFFF;
		height: 70px;
		line-height: 70px;
	}
	
	#content > #main > div:NTH-CHILD(3) ~ div{
		height: 150px;
	}
	
	#content > #main_banner{
		width: 130px;
	}
	
	#content > #main_banner > div{
		width: 128px;
		border: 1px solid #CCCCCC;
		margin-top: 5px;
	}
	
	#content > #main_banner > div:NTH-CHILD(1){
		height: 150px;
	}
	
	#content > #main_banner > div:NTH-CHILD(2){
		height: 200px;
	}
	
	#content > #main_banner > div:NTH-CHILD(3){
		height: 180px;
	}
	
	#content > #main_banner > div:NTH-CHILD(4){
		height: 250px;
	}
	
	#content > #main_banner > div:NTH-CHILD(5){
		height: 300px;
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	