@CHARSET "UTF-8";

	#content {
		font-size: 13px;
		color: #CCCCCC;
		overflow: hidden;
	}
	
	#content > .body_list {
		overflow: hidden;
		margin-top: 30px;
		padding: 0px;
	}
	
	 #content > .body_list > ul {
		width: 1160px;
		height: 120px;
		margin: 0px auto;
		overflow: hidden;
		border: 0px solid red;
		padding: 0px;
	}
	
	#content > .body_list > ul > li{
	 	width: 232px;
	 	height: 120px;
	 	float: left;
	 	border: 0px solid blue;
		text-align: center;
		font-size: 17px;	
	}
	
	#content > .body_list > ul > li > .button1{
	 	width: 232px;
	 	height: 120px;
	 	background-color: #FFFFFF;
		border: none;
		display: inline-block;
	}
	
	#content > .body_list > ul > li > .button1 > span{
		border: 0px solid orange;
	 	font-size: 17px;
	 	text-align: center;
	 	display: block;
	}
	
	#content > .body_list > ul > li > .button1:hover{
		background-color: #ef6d00;
		color: #FFFFFF;	
	}
	
	#content > .body_list > ul > li > .button1 img:LAST-CHILD {
		display: none;
	}
	
	#content > .body_list > ul > li > .button1:hover img:FIRST-CHILD {
		display: none;
	}
	
	#content > .body_list > ul > li > .button1:hover img:LAST-CHILD {
		display: inline-block;
	}
	
	#content > .body_list > ul > li > .button1> .tab > .tab_title{
		display: none;
		
		width: 1160px;
		height: 60px;
		line-height: 60px;
		
		background-color: #ef6d00;
		color: #FFFFFF;
		
		border: 1px solid orange;

		position: absolute;
		font-size: 24px;
				
	}
	
	#content > .body_list > ul > li > .button1:hover > .tab > .tab_title{
		display: block;
	}
	
	#content > .body_list > ul > li > .button2{
	 	width: 232px;
	 	height: 120px;
	 	background-color: #FFFFFF;
		border: none;
		display: inline-block;
	}
	
	#content > .body_list > ul > li > .button2 > span{
		border: 0px solid orange;
	 	font-size: 17px;
	 	text-align: center;
	 	display: block;
	}
	
	#content > .body_list > ul > li > .button2:hover{
		background-color: #ef6d00;
		color: #FFFFFF;	
	}
	
	#content > .body_list > ul > li > .button2 img:LAST-CHILD {
		display: none;
	}
	
	#content > .body_list > ul > li > .button2:hover img:FIRST-CHILD {
		display: none;
	}
	
	#content > .body_list > ul > li > .button2:hover img:LAST-CHILD {
		display: inline-block;
	}
	
	#content > .body_list > ul > li > .button3{
	 	width: 232px;
	 	height: 120px;
	 	background-color: #FFFFFF;
		border: none;
		display: inline-block;
	}
	
	#content > .body_list > ul > li > .button3 > span{
		border: 0px solid orange;
	 	font-size: 17px;
	 	text-align: center;
	 	display: block;
	}
	
	#content > .body_list > ul > li > .button3:hover{
		background-color: #ef6d00;
		color: #FFFFFF;	
	}
	
	#content > .body_list > ul > li > .button3 img:LAST-CHILD {
		display: none;
	}
	
	#content > .body_list > ul > li > .button3:hover img:FIRST-CHILD {
		display: none;
	}
	
	#content > .body_list > ul > li > .button3:hover img:LAST-CHILD {
		display: inline-block;
	}
	
	#content > .body_list > ul > li > .button4{
	 	width: 232px;
	 	height: 120px;
	 	background-color: #FFFFFF;
		border: none;
		display: inline-block;
	}
	
	#content > .body_list > ul > li > .button4 > span{
		border: 0px solid orange;
	 	font-size: 17px;
	 	text-align: center;
	 	display: block;
	}
	
	#content > .body_list > ul > li > .button4:hover{
		background-color: #ef6d00;
		color: #FFFFFF;	
	}
	
	#content > .body_list > ul > li > .button4 img:LAST-CHILD {
		display: none;
	}
	
	#content > .body_list > ul > li > .button4:hover img:FIRST-CHILD {
		display: none;
	}
	
	#content > .body_list > ul > li > .button4:hover img:LAST-CHILD {
		display: inline-block;
	}
	
	#content > .body_list > ul > li > .button5{
	 	width: 232px;
	 	height: 120px;
	 	background-color: #FFFFFF;
		border: none;
		display: inline-block;
	}
	
	#content > .body_list > ul > li > .button5 > span{
		border: 0px solid orange;
	 	font-size: 17px;
	 	text-align: center;
	 	display: block;
	}
	
	#content > .body_list > ul > li > .button5:hover{
		background-color: #ef6d00;
		color: #FFFFFF;	
	}
	
	#content > .body_list > ul > li > .button5 img:LAST-CHILD {
		display: none;
	}
	
	#content > .body_list > ul > li > .button5:hover img:FIRST-CHILD {
		display: none;
	}
	
	#content > .body_list > ul > li > .button5:hover img:LAST-CHILD {
		display: inline-block;
	}
	
	#content > .theme {
		background-color: #ef6d00;
		width: 1160px;
		height: 60px;
		margin: 0px auto;
	    overflow: hidden;
	    border: 0px solid blue;
	    line-height: 60px;
	}
	
	#content > .theme > ul{
		text-align: center;
		font-size: 24px;
		color: white;
		margin: 0px;
	}
	